@font-face {
  font-family: "s-grotesk-regular", sans-serif;
  src: url("/public/fonts/static/SchibstedGrotesk-Regular.ttf")
    format("opentype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "s-grotesk-bold", sans-serif;
  src: url("/public/fonts/static/SchibstedGrotesk-Bold.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
