@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  font-size: 16px;
  color: $text-l;
}
* {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h6,
._small,
._big {
  font-weight: 600;
}
p {
  font-size: 16px;
}
h1 {
  font-size: 47px;
}
h2 {
  font-size: 39px;
}
h3 {
  font-size: 33px;
}
h4 {
  font-size: 27px;
}
h5 {
  font-size: 23px;
}
h6 {
  font-size: 19px;
}
._small {
  font-size: 0.9rem;
}
._big {
  font-size: 1.2rem;
}
button {
  font-size: 14px;
}
button._btn-large,
._btn-large {
  font-size: 18px;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a._link-active {
  color: $red;
  text-decoration: underline;
}
