// colors
$text-l: #e8e8e8;
$text-d: #444444;
$primary: #e8eddf;
$secondary: #cfdbd5;
$accent: #20927b;
$accent-light: rgb(46, 204, 172);
$red: #d41a46;
$green: #23b373;
$black: #333533;
$darker: #242423;

// border radius
$br: 12px;
$br-small: 8px;
