@use "@/app/styles/variables.scss" as *;

.title {
  margin-bottom: 20px;
}
.info_header_wrapper {
  display: flex;
  gap: 40px;

  .description_wrapper {
    background-color: $darker;
    padding: 10px;
    border-radius: $br;
    width: 35vw;

    .description {
      display: inline-block;
      width: 100%;
      padding: 0 5px 0 0;
    }
  }
}
