@use "@/app/styles/variables.scss" as *;

.title {
  margin-bottom: 20px;
}
.info_header_wrapper {
  display: flex;
  gap: 40px;

  .description_wrapper {
    background-color: $darker;
    padding: 10px;
    border-radius: $br;
    width: 35vw;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

    .description {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 5px 0 0;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none;
    }
  }
}
