@use "@/app/styles/variables.scss" as *;

.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  gap: 25px;
}
@media (max-width: 1025px) {
  .project_grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .project_grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
