@use "@/app/styles/variables.scss" as *;

.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  gap: 25px;

  .project_card {
    padding: 15px;
    border-radius: $br;
    border: 2px solid $darker;
    height: 150px;
    transition: border 0.3s ease;
    cursor: pointer;

    &:hover {
      border: 2px solid $accent;
    }

    .title {
      margin: 0 0 5px 0;
    }

    .project_id_container {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      border-radius: $br-small;
      background-color: $darker;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: $darker, $alpha: 0.5);
      }

      .project_id {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }
    }

    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px 0 0 0;
      line-clamp: 2;
      -webkit-line-clamp: 2;
    }
  }
}
@media (max-width: 1025px) {
  .project_grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .project_grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
