@use "@/app/styles/variables.scss" as *;

.input_block_wrapper {
  display: flex;
  flex-direction: column;

  .label {
    transform: translateY(10px);
    transition: transform 0.2s ease;
    padding-left: 10px;
    color: #8f8f8f;

    &.focused {
      transform: translateY(0);
    }
  }

  .input_wrapper {
    position: relative;

    .input {
      width: 20vw;
      padding: 5px 25px 5px 10px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $primary;
      color: $text-l;
      font-size: 16px;

      &.input_small {
        width: 100%;
        border: 2px solid $darker;
        border-radius: $br-small;
        padding: 5px 10px;
      }
    }

    .validation_error {
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid $red;
      background-color: rgba($color: $red, $alpha: 0.08);
      color: $red;
      padding: 10px;
    }

    .show_password {
      position: absolute;
      right: 10px;
      top: 3px;
    }
  }
}
