@use "@/app/styles/variables.scss" as *;

.input_block_wrapper {
  display: flex;
  flex-direction: column;

  .label {
    transform: translateY(10px);
    transition: transform 0.2s ease;
    padding-left: 10px;
    color: #8f8f8f;

    &.focused {
      transform: translateY(0);
    }
  }

  .input_wrapper {
    position: relative;

    .input {
      width: 20vw;
      padding: 5px 25px 5px 10px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $primary;
      color: $text-l;
      font-size: 16px;
    }

    .show_password {
      position: absolute;
      right: 10px;
      top: 3px;
    }
  }
}
