@use "@/app/styles/variables.scss" as *;

.sidebar_wrapper {
  width: 17vw;
  height: 50vh;
  background-color: $darker;
  border-radius: $br;
  padding: 24px;
  transition: all 0.3s ease;
  position: relative;

  &._collapsed {
    width: 4vw;
  }

  &._collapsed .sidebar_body {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &:hover .collapse_btn {
    opacity: 1;
    pointer-events: all;
    background-color: rgba($black, 0.4);
  }

  .collapse_btn {
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 $br-small $br-small 0;
  }

  &._collapsed .collapse_btn {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
  }

  .sidebar_body {
    flex-grow: 1;
    height: 100%;
    padding: 5px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 0.2s ease;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $black transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $black;
      border-radius: 4px;
      border: none;

      &:hover {
        background: $black;
      }

      &:active {
        background: $black;
      }
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}
