@use "@/app/styles/variables.scss" as *;
@use "@/app/styles/global.scss" as *;

.nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.navLeft,
.navRight {
  display: flex;
  gap: 15px;
}
