@use "@/app/styles/variables.scss" as *;

.editable_block_wrapper {
  width: 100%;
  align-items: center;
  height: 100%;

  .editable_value {
    width: 100%;
    text-decoration: underline;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .toggle_edit {
    align-self: flex-start;
  }
}
